<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add connectionString="Server=.\SQLEXPRESS;Trusted_Connection=True;Database=one" name="one" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>